@import 'partials/commons';

/*
 -------
| HEADER |
 -------
*/
.header{
    .top-header{
        height: 20px;
        background-color: #0476f2;
        color: white;
        font-size: 12PX;
    }
    .top-header{
        display: flex;
        align-items: center;
        justify-content: end;
        font-weight: bold;
    }

    .top-header div{
        margin-right: 15px;
    }

    .navbar{
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img{
            width: 80px;
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                list-style: none;
            }
            a{
                text-transform: uppercase;
                color: gray;
                margin-right: 20px ;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

.jumbotron{
    background-size: cover;
    height: 400px;
    width: 100%;
}


.main{
    background-color: rgb(34, 34, 34);
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .comics{

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 0 10px 0;

        .cardComic{
            width: calc(100% / 5);
            margin-right: 10px;
            margin-bottom: 30px;
            color: white;
        }
    }
}