@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap);/*
 -------
| RESET |
 -------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 -------
| TYPOGRAPHY |
 -------
*/
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
 -------
| HEADER |
 -------
*/
.header .top-header {
  height: 20px;
  background-color: #0476f2;
  color: white;
  font-size: 12PX;
}
.header .top-header {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: bold;
}
.header .top-header div {
  margin-right: 15px;
}
.header .navbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .navbar img {
  width: 80px;
}
.header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar ul li {
  list-style: none;
}
.header .navbar ul a {
  text-transform: uppercase;
  color: gray;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

.jumbotron {
  background-size: cover;
  height: 400px;
  width: 100%;
}

.main {
  background-color: #222222;
}
.main .container {
  width: 80%;
  margin: 0 auto;
}
.main .comics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0 10px 0;
}
.main .comics .cardComic {
  width: 20%;
  margin-right: 10px;
  margin-bottom: 30px;
  color: white;
}