/*
 -------
| RESET |
 -------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 -------
| TYPOGRAPHY |
 -------
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}